.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url('../../images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;

    &__heading {
        font-size: 3.2rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

    &__paragraph {
        margin-bottom: 2rem;
    }

}

.header-button {
    margin-top: 4rem;

    @include respond(phone) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
}