.button__primary {
    background-color: rgb(8, 85, 36);
    padding: 1rem 3.5rem;
    margin-right: 2rem;
    border: 1px solid $color-green;
    box-shadow: .2rem .1rem 3rem $color-black;
    color: white;
    text-transform: capitalize;
    transition: all .5s ease;

    @include respond(phone) {
        margin-top: 2rem;
    }

    &:hover {
        background-color: $color-white;
        color: rgb(8, 85, 36);
    }
}