.input__email,
.input__message {
    width: 40rem;
    padding: 2rem 0 2rem 1.5rem;
    display: block;
    margin-bottom: 2rem;
    border: 1px solid $color-green;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all 1s ease;

    &:focus {
        outline: 0;
        border-bottom: 1px solid $color-green-dark;
    }

    &::placeholder {
        color: $color-green;
        font-size: 1.6rem;
    }
}

.input__message {
    margin-bottom: 4rem;
}