.section-about {
    margin-top: 2rem;
    padding: 10rem 0;

    // background: red;
}

.container {
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;


    @include respond(tab-land) {
        flex-direction: column;
        padding: 2rem 2rem;
        // align-items: center;
    }
}

.container-left {
    align-self: center;
    flex-basis: 50%;

    @include respond(tab-land) {
        width: 40rem;
        align-self: center;
    }

    @include respond(phone) {
        width: 100%;
    }
}

.container__heading {
    margin-bottom: 2rem;
}

.container__paragraph {
    margin-bottom: 2rem;

    &:last-of-type {
        margin-bottom: 4rem;
    }
}

.about-image {
    order: -1;
    width: 40rem;
    height: 40rem;
    background-image: linear-gradient(rgba($color-black, .4), rgba($color-black, .5)), url('/images/CEO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-right: 8rem;

    @include respond(tab-land) {
        margin-bottom: 4rem;
        align-self: center;
        margin-left: 6rem;
        margin-top: -10rem;
    }

    &__caption {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        color: $color-white;
        font-size: 2.4rem;
    }

    &__title {
        display: block;
        color: $color-white;
        font-size: 1.4rem;
        text-align: center;
    }
}

.section-contact {
    margin-top: 2rem;
    padding: 10rem 0;

    @include respond(tab-land) {
        overflow-x: hidden
    }
}

.form-left {
    align-self: center;
    flex-basis: 50%;
    // margin-right: rem;

    @include respond(phone) {
        width: 100%;
    }
}

.container-map {
    width: 50rem;
    height: 40rem;

    @include respond(tab-land) {
        order: -1;
        align-self: center;
        margin-top: -15rem;
        // margin-right: -4rem;
        margin-bottom: 5rem;
    }
}